@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

/* تخصيص شريط التمرير */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #16edb014;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0cb485;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #001822;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2vw;
  gap: 10vw;
  color: white;
  font-family: "Cairo", serif;
  margin: 0 10vw;
  margin-bottom: 90px;
  position: sticky;
  top: 0;
  background-color: #00182213;
  backdrop-filter: blur(20px);
  /* width: 100%; */
  border-radius: 20px;
  z-index: 9999;
}

/* إضافة قاعدة جديدة لتغيير top عند التمرير */
nav.scrolled {
  top: 10px;
  /* تغيير قيمة top إلى 10px عند التمرير */
}

ul {
  display: flex;
  gap: 50px;
  transition: all 0.5s ease-in-out;
}

ul li a {
  color: white;
  position: relative;
  display: inline-block;
}

ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #16edb1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}

button.btn-nav {
  width: 170px;
  background-color: #16edb1;
  border: none;
  border-radius: 20px;
  font-family: "Cairo", serif;
  transition: all 0.6s ease;
  cursor: pointer;
  padding: 9px;
}

button.btn-nav:hover {
  border: 1px solid #16edb1;
  color: white;
  background: transparent;
}

button.btn-nav:after {
  color: aliceblue;
  position: absolute;
  opacity: 0;
  transform: rotate(180deg);
  top: 50px;
  right: 1220px;
  transition: 0.5s;
}

button.btn-nav:hover {
  padding-right: 24px;
  padding-left: 8px;
}

button:hover:after {
  opacity: 1;
  right: 1210px;
}

button.btn-nav1 {
  width: 170px;
  background-color: #16edb1;
  border: none;
  border-radius: 20px;
  font-family: "Cairo", serif;
  transition: all 0.6s ease;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 9px;
}

button.btn-nav1:hover {
  border: 1px solid #16edb1;
  color: white;
  background: transparent;
}

button.btn-nav1:after {
  color: aliceblue;
  position: absolute;
  opacity: 0;
  transform: rotate(180deg);
  top: 50px;
  right: 1220px;
  transition: 0.5s;
}

button.btn-nav1:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.bg img {
  width: 80vw;
  position: absolute;
  z-index: -9999;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.bg2 img {
  width: 70vw;
  position: absolute;
  z-index: -9999;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0cb485;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1000;
  display: none;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

#scrollToTopBtn:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid transparent;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

#scrollToTopBtn.scrolled:before {
  border-color: #0cb485;
  border-top-color: transparent;
  border-right-color: transparent;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#scrollToTopBtn:hover {
  background-color: #555;
}

/* استعلامات الوسائط لضبط الأنماط بناءً على حجم الشاشة */
@media (max-width: 768px) {
  nav {
    flex-direction: row;
    align-items: center;
    gap: 20vw;
  }

  ul {
    flex-direction: column;
    gap: 2vw;
  }

  button.btn-nav {
    width: 33vw;
    display: none;
  }
}

#btn {
  cursor: pointer;
  display: none;
  margin-right: 140px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.mobile {
  display: flex;
  background-color: #001822;
  backdrop-filter: blur(10px);
  width: 120px;
  height: 100vh;
  position: absolute;
  padding: 30px;
  transform: translateX(400px);
  transition: 500ms;
  z-index: 99999;
}

#menuu.active {
  transform: none;
}

@media (max-width: 768px) {
  ul {
    display: none;
    /* إخفاء القائمة */
  }

  #btn {
    cursor: pointer;
    display: block;
  }

  .menu-toggle {
    display: block;
    /* إظهار أيقونة القائمة */
  }

  .mobile {
    display: flex;
    background-color: #0cb4840c;
    backdrop-filter: blur(10px);
    width: 120px;
    height: 100vh;
    position: absolute;
    padding: 30px;
    transform: translateX(200px);
    transition: 500ms;
    margin-top: 63px;
    border-radius: 70px 0 0 0;
  }

  .mobile .m a {
    margin-top: 20px;
  }

  #menuu.active {
    transform: none;
    position: fixed;
  }
}

.text {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 40px;
  font-family: "Ubuntu", sans-serif;
}

.text p {
  font-size: 18px;
  font-family: "cairo", sans-serif;
  padding: 30px;
}

span {
  color: #23ffc1;
  font-family: "cairo", sans-serif;
}

.sec-about {
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  scale: 0.9;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: 20px 46%;
}

/* Add responsive styles */
@media (max-width: 768px) {
  .sec-about {
    flex-direction: column;
    /* Stack items vertically on smaller screens */
    padding: 20px;
    /* Reduce padding */
  }

  .text-about1 {
    width: 100%;
    /* Make text container full width */
    text-align: center;
    /* Center text */
  }

  .imgse img {
    width: 100%;
    /* Make images responsive */
    max-width: 350px;
    /* Limit max width */
  }

  .text h1 {
    font-size: 50px;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
    scale: 1;
  }
}

.text-about1 {
  position: relative;
  /* إضافة هذه الخاصية لتحديد موضع الحدود */
  overflow: hidden;
}

#te1 {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-about1 p {
  color: #ffffff88;
  font-family: "cairo", sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
}

.imgse img {
  width: 700px;
}

/* services */
.services-about {
  align-items: center;
  text-align: center;
}

.services-about h2 {
  background-color: #16edb00a;
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  color: #16edb1;
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: "Ubuntu", sans-serif;
}

.services-about h1 {
  font-size: 18px;
  color: #fff;
  font-family: "cairo", sans-serif;
}

.services {
  position: relative;
}

.services-img {
  position: absolute;
  right: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -99999;
}

.services-cards {
  display: flex;
  gap: 0px;
  align-items: center;
  justify-content: space-around;
  margin-top: 300px;
  z-index: 99999;
  opacity: 0;
  scale: 0.9;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: 20px 46%;
}

.card-one {
  background-color: #23ffc112;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  width: 300px;
  padding: 20px;
  align-items: center;
  text-align: center;
  color: #23ffc1;
  margin: 20px;
  animation: bounce 2s infinite;
}

.card-one:hover {
  border: 1px solid #0cb4848c;
  /* box-shadow: 0 0 15px rgba(38, 255, 194, 0.099); */
}

.card-two:hover {
  border: 1px solid #0cb4848c;
}

.card-three:hover {
  border: 1px solid #0cb4848c;
}

.card-four:hover {
  border: 1px solid #0cb4848c;
}

.card-two {
  background-color: #23ffc112;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  width: 300px;
  padding: 20px;
  align-items: center;
  text-align: center;
  color: #23ffc1;
  margin: 20px;
  animation: bounce 2s infinite;
}

.card-three {
  background-color: #23ffc112;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  width: 300px;
  padding: 20px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin: 20px;
  animation: bounce 2s infinite;
}

.card-four {
  background-color: #23ffc112;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  width: 300px;
  padding: 20px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin: 20px;
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 768px) {
  .services-cards {
    flex-direction: column;
    /* Stack cards vertically on smaller screens */
    margin-top: 50px;
    /* Adjust margin for smaller screens */
  }

  .card-one,
  .card-two,
  .card-three,
  .card-four {
    margin: 12px;
    padding: 20px;
    border: 1px solid #16edb1;
    background: transparent;
    color: #ffffff;
    font-size: 15px;
    align-items: center;
    text-align: center;
    animation: boun1ce 2s infinite;
    /* Center cards with auto margins */
  }

  .card-one:hover {
    background-color: #16edb1;
    color: #001822;
    border: none;
    box-shadow: 0 0 15px rgba(38, 255, 194, 0.167);
  }

  .card-two:hover {
    background-color: #16edb1;
    color: #001822;
    border: none;
    box-shadow: 0 0 15px rgba(38, 255, 194, 0.167);
  }

  .card-three:hover {
    background-color: #16edb1;
    color: #001822;
    border: none;
    box-shadow: 0 0 15px rgba(38, 255, 194, 0.167);
  }

  .card-four:hover {
    background-color: #16edb1;
    color: #001822;
    border: none;
    box-shadow: 0 0 15px rgba(38, 255, 194, 0.167);
  }

  .text {
    font-size: 25px;
    /* Adjust text size for smaller screens */
  }

  .text-about1 p {
    font-size: 14px;
    /* Adjust paragraph size for smaller screens */
  }

  .services-img img {
    width: 400px;
    display: none;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --light: 0;
  --max-width-post: 420px;
  --primary: hsl(calc(165 + 0 * 0),
      /* الهيو */
      calc(86% - 0% * 0),
      /* التشبع */
      calc(50% - 0% * 0)
      /* الإضاءة */
    );
  --bg: hsl(calc(284 - 220 * var(--light)),
      calc(70% + 7% * var(--light)),
      calc(23% + 56% * var(--light)));
  --text-primary: hsl(calc(60 * var(--light)),
      calc(19% * var(--light)),
      calc(97% - 89% * var(--light)));
  --font-size-sm: clamp(0.7rem, 0.91vw + 0.47rem, 1.2rem);
  --font-size-base: clamp(0.88rem, 1.14vw + 0.59rem, 1.5rem);
  --font-size-md: clamp(1.09rem, 1.42vw + 0.74rem, 1.88rem);
  --font-size-lg: clamp(1.37rem, 1.78vw + 0.92rem, 2.34rem);
  --font-size-xl: clamp(1.71rem, 2.22vw + 1.15rem, 2.93rem);
  --font-size-xxl: clamp(2.14rem, 2.77vw + 1.44rem, 3.66rem);
  --font-size-xxxl: clamp(2.67rem, 3.47vw + 1.8rem, 4.58rem);
}

body>article>header>figure>figcaption>h4 {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}

@keyframes carousel-animate {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(200%) scale(0.7);
  }

  3%,
  14.29% {
    visibility: visible;
    opacity: 0.8;
    transform: translateX(100%) scale(0.9);
  }

  17.29%,
  28.57% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0) scale(1);
  }

  31.57%,
  42.86% {
    visibility: visible;
    opacity: 0.8;
    transform: translateX(-100%) scale(0.9);
  }

  45.86% {
    visibility: visible;
    opacity: 0;
    transform: translateX(-200%) scale(0.9);
  }

  100% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-200%) scale(0.7);
  }
}

.container {
  --container-padding-horizontal: 32px;
  position: relative;
  padding-inline: var(--container-padding-horizontal);
  display: grid;
  place-items: center;
  height: 100%;
  overflow: hidden;
  margin-top: 350px;
}

.carousel {
  pointer-events: none;
  position: absolute;
  padding-block-start: 67px;
  padding-block-end: max(24px, calc(29px + var(--font-size-md)));
  perspective: 100px;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  scale: 0.9;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: 20px 46%;
}

.carousel__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 61.2vh;
}

.carousel .item {
  position: absolute;
  max-width: 300px;
  height: 100%;
  margin-inline: var(--container-padding-horizontal);
  opacity: 0;
  will-change: transform, opacity;
  animation: carousel-animate 27s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.carousel .item:nth-child(1) {
  animation-delay: calc(27s / 7 * -1);
}

.carousel .item:nth-child(2) {
  animation-delay: calc(27s / 7 * 0);
}

.carousel .item:nth-child(3) {
  animation-delay: calc(27s / 7 * 1);
}

.carousel .item:nth-child(4) {
  animation-delay: calc(27s / 7 * 2);
}

.carousel .item:nth-child(5) {
  animation-delay: calc(27s / 7 * 3);
}

.carousel .item:nth-child(6) {
  animation-delay: calc(27s / 7 * 4);
}

.carousel .item:nth-child(7) {
  animation-delay: calc(27s / 7 * 5);
}

.carousel img {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
}

.instagram {
  --pading-horizontal: 16px;
  --border: 1px solid var(--primary);
  max-width: var(--max-width-post);
  width: 290px;
  border: var(--border);
  border-radius: 20px;
  margin-right: 400px;
  margin-right: 609px;
  width: 311px;
  opacity: 0;
  scale: 0.9;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: 20px 46%;
}

.instagram__header {
  padding-block: 12px;
  border-bottom: var(--border);
}

.instagram__header figure {
  padding-block: 0;
  padding-inline: var(--pading-horizontal);
  margin: 0;
  display: flex;
  align-items: center;
}

.instagram__header img {
  border-radius: 50%;
  object-fit: cover;
  border: var(--border);
  margin-inline-end: 8px;
}

.instagram__media {
  display: flex;
  border-bottom: var(--border);
}

.instagram__media .img {
  max-width: 100%;
  height: 61.2vh;
}

.instagram__buttons {
  padding-block: 12px;
  padding-inline: var(--pading-horizontal);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instagram__buttons .left {
  display: flex;
  align-items: center;
}

.instagram__buttons .left svg:nth-of-type(2) {
  margin-inline: 12px;
}

.instagram__icon {
  cursor: pointer;
  width: 1em;
  height: 1em;
  font-size: var(--font-size-md);
  min-width: 24px;
  min-height: 24px;
}

.instagram__icon:hover {
  opacity: 0.7;
}

.instagram__icon path {
  stroke: var(--primary);
  stroke-linejoin: round;
}

.instagram__icon--comment path {
  stroke-width: 2;
}

.instagram__icon--message path {
  stroke-width: 2;
}

.instagram__icon--saved path {
  stroke-width: 2;
}

@media (max-width: 992px) {
  .instagram {
    display: none;
    margin-bottom: 900px;
  }

  .container {
    --container-padding-horizontal: 32px;
    position: relative;
    padding-inline: var(--container-padding-horizontal);
    display: grid;
    place-items: center;
    height: 100%;
    overflow: hidden;
    margin-top: 100px;
  }
}

.pay {
  margin-top: 150px;
}

.carousel1 {
  width: 100%;
  max-width: 900px;
  overflow: hidden;
  position: relative;
  background: transparent;
  backdrop-filter: blur(20px);
  border: 1px solid #0cb485;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  right: 20%;
  margin-bottom: 20px;
}

.carousel-track1 {
  display: flex;
  gap: 120px;
  /* Space between images */
  animation: scroll 20s linear infinite;
}

.carousel1 img {
  height: auto;
  max-height: 60px;
  object-fit: contain;
  transition: filter 0.3s;
}

.carousel1 img:hover {
  filter: grayscale(0%);
}

/* Infinite scroll animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-20% * 5));
    /* Adjust based on the number of images */
  }
}

/* Add media query for smaller screens */
@media (max-width: 768px) {
  .carousel1 {
    padding: 5px;
    width: 240px;
    /* Adjust padding for smaller screens */
  }

  .carousel-track1 {
    display: flex;
    gap: 10px;
    /* Space between images */
    animation: scroll 5s linear infinite;
  }

  .carousel1 img {
    max-height: 40px;
    /* Reduce max-height for smaller screens */
  }

  .pay {
  }
}

/* Add this CSS to your style.css */
/* Add this CSS to your style.css */
.statistics {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-family: "Ubuntu", sans-serif;
  margin-top: 70px;
}

.statistic {
  text-align: center;
  color: #ffffff;
}

.count {
  font-size: 2em;
  color: #23ffc1;
  font-weight: bold;
}

.statistic i {
  font-size: 1.5em;
  /* حجم الأيقونة */
  color: #23ffc1;
  /* لون الأيقونة */
  margin-bottom: 10px;
  /* مسافة بين الأيقونة والنص */
}

@media (max-width: 768px) {
  .statistics {
    flex-direction: column;
    /* Stack items vertically on smaller screens */
    align-items: center;
    /* Center items */
    padding: 10px;
    /* Reduce padding */
  }

  .statistic {
    margin-bottom: 20px;
    /* Add space between statistics */
  }

  .count {
    font-size: 1.5em;
    /* Reduce font size for smaller screens */
  }

  .statistic i {
    font-size: 1.2em;
    /* Reduce icon size for smaller screens */
  }
}

.bg-indigo-500 {
  --tw-bg-opacity: 1;
  background-color: #16edb1;
}

.focus\:bg-indigo-600:focus {
  --tw-bg-opacity: 1;
  background-color: #16edb1;
}

.bg-indigo-600 {
  --tw-bg-opacity: 1;
  background-color: #001822
}

@media (min-width: 640px) {
  .sm\:w-\[350px\] {
    width: 350px;
    z-index: 9999;
  }
}

.footer {
  background-color: #0cb485;
  /* لون خلفية داكن */
  color: #ffffff;
  /* نص أبيض */
  text-align: center;
  /* نص مركزي */
  padding: 20px 20px;
  /* تباعد أكبر */
  position: relative;
  /* لتحديد موضع الفوتر */
  bottom: 0;
  /* وضع الفوتر في الأسفل */
  width: 100%;
  /* عرض كامل */
  display: flex;
  /* استخدام flexbox */
  flex-direction: column;
  /* ترتيب العناصر عمودياً */
  align-items: center;
  margin-top: 200px;
  /* محاذاة العناصر في المنتصف */
}

/* Add responsive styles */
@media (max-width: 768px) {
  .footer {
    padding: 15px 10px;
    /* Reduce padding for smaller screens */
    margin-top: 100px;
    /* Adjust margin for smaller screens */
  }

  .footer p {
    font-size: 14px;
    /* Reduce font size for smaller screens */
  }

  .footer-links li {
    margin: 0 10px;
    /* Reduce margin between links */
  }
}

.footer-content {
  max-width: 1200px;
  /* أقصى عرض للمحتوى */
  margin: 0 auto;
  /* مركز المحتوى */
}

.footer-links {
  list-style: none;
  /* إزالة النقاط */
  padding: 0;
  /* إزالة الحشو */
  margin: 10px 0;
  /* تباعد بين القائمة والنص */
  display: flex;
  /* استخدام flexbox */
  justify-content: center;
  /* محاذاة الروابط في المنتصف */
}

.footer-links li {
  margin: 0 15px;
  /* تباعد بين الروابط */
}

.footer-links a {
  color: #ffffff;
  /* لون الروابط */
  text-decoration: none;
  /* إزالة الخط السفلي */
  font-weight: bold;
  /* جعل النص غامق */
  transition: color 0.3s;
  /* تأثير انتقال اللون */
}

.footer p {
  margin: 10px 0;
  /* تباعد بين النص والروابط */
  font-size: 16px;
  /* حجم خط أكبر */
}

.light {
  position: absolute;
  overflow: hidden;
  width: 180vh;
  left: 20px;

}


.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image img {
  height: 250px;
  width: 350px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
  height: 250px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img {
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.img-box:hover {
  cursor: pointer;
}

.caption>p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}
